parameters:
	ignoreErrors:
		-
			message: '#^Method Webard\\Biloquent\\Aggregators\\Aggregator\:\:applyFilter\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Aggregators/Aggregator.php

		-
			message: '#^Method Webard\\Biloquent\\Aggregators\\Aggregator\:\:applyFilter\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Aggregators/Aggregator.php

		-
			message: '#^Method Webard\\Biloquent\\Aggregators\\Aggregator\:\:applyRelationToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Aggregators/Aggregator.php

		-
			message: '#^Method Webard\\Biloquent\\Aggregators\\Aggregator\:\:applyToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Aggregators/Aggregator.php

		-
			message: '#^Part \$column \(Illuminate\\Contracts\\Database\\Query\\Expression\|string\|null\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Aggregators/Aggregator.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Aggregators/Aggregator.php

		-
			message: '#^Method Webard\\Biloquent\\Aggregators\\Raw\:\:applyToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Aggregators/Raw.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Aggregators/Raw.php

		-
			message: '#^Method Webard\\Biloquent\\Contracts\\Aggregator\:\:applyToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Contracts/Aggregator.php

		-
			message: '#^Method Webard\\Biloquent\\Contracts\\Group\:\:applyJoins\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Contracts/Group.php

		-
			message: '#^Method Webard\\Biloquent\\Contracts\\Group\:\:applyToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Contracts/Group.php

		-
			message: '#^Parameter \#1 \$column of method Webard\\Biloquent\\Expressions\\Median\:\:getSqliteExpression\(\) expects string, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Expressions/Median.php

		-
			message: '#^Parameter \#1 \$column of method Webard\\Biloquent\\Expressions\\Percentile\:\:getSqliteExpression\(\) expects string, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Expressions/Percentile.php

		-
			message: '#^Method Webard\\Biloquent\\Groups\\Group\:\:applyJoins\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Groups/Group.php

		-
			message: '#^Method Webard\\Biloquent\\Groups\\Group\:\:applyToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Groups/Group.php

		-
			message: '#^Method Webard\\Biloquent\\Groups\\Group\:\:wrapColumn\(\) should return string but returns float\|int\|string\.$#'
			identifier: return.type
			count: 1
			path: src/Groups/Group.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Groups/Group.php

		-
			message: '#^Method Webard\\Biloquent\\Groups\\RelationGroup\:\:applyJoins\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Groups/RelationGroup.php

		-
			message: '#^Method Webard\\Biloquent\\Groups\\RelationGroup\:\:applyToDataset\(\) has parameter \$dataset with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Groups/RelationGroup.php

		-
			message: '#^Method Webard\\Biloquent\\Report\:\:dataset\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Report.php

		-
			message: '#^Method Webard\\Biloquent\\Report\:\:newEloquentBuilder\(\) should return Webard\\Biloquent\\ReportBuilder\<static\(Webard\\Biloquent\\Report\)\> but returns Webard\\Biloquent\\ReportBuilder\<Webard\\Biloquent\\Report\>\.$#'
			identifier: return.type
			count: 1
			path: src/Report.php

		-
			message: '#^PHPDoc tag @method for method Webard\\Biloquent\\Report\:\:query\(\) return type contains generic class Webard\\Biloquent\\ReportBuilder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Report.php

		-
			message: '#^Property Webard\\Biloquent\\Report\:\:\$datasetQuery with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Report.php

		-
			message: '#^Call to an undefined method Webard\\Biloquent\\ReportBuilder\<TModel of Webard\\Biloquent\\Report\>\:\:withExpression\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Method Webard\\Biloquent\\ReportBuilder\:\:get\(\) should return Illuminate\\Database\\Eloquent\\Collection\<int, TModel of Webard\\Biloquent\\Report\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, Webard\\Biloquent\\Report\>\.$#'
			identifier: return.type
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Method Webard\\Biloquent\\ReportBuilder\:\:getDatasetQuery\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Method Webard\\Biloquent\\ReportBuilder\:\:paginate\(\) return type with generic interface Illuminate\\Contracts\\Pagination\\LengthAwarePaginator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Parameter \#1 \$perPage of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Webard\\Biloquent\\Report\>\:\:paginate\(\) expects int\|null, Closure\|int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Parameter \#1 \$sql of method Webard\\Biloquent\\ReportBuilder\<TModel of Webard\\Biloquent\\Report\>\:\:groupByRaw\(\) expects string, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Parameter \#2 \$columns of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Webard\\Biloquent\\Report\>\:\:paginate\(\) expects array\<int, ''\*''\|model property of TModel of Webard\\Biloquent\\Report\>, array\<string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/ReportBuilder.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Database\\MySqlConnection and ''isMaria'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Support/DriverDetector.php

		-
			message: '#^Using nullsafe property access "\?\-\>version" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Support/DriverDetector.php
